* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
body {
  margin: 0px;
  background-color: aliceblue;
}
html,
body {
  height: 100%;
}

.donut {
  background: #fff;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 10px solid #ff6188;
  border-top: 10px solid #a9dc62;
  border-left: 10px solid #78dcdc;
  border-right: 10px solid #ffd862;
}

tr {
  padding: 1em;
}

th,
td {
  padding: 0.5em;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.menu {
  position: absolute !important;
  width: 30px;
  height: 4px;
  top: 50%;
  left: -5%;
  background-color: #333;
  border-radius: 20px;
}

.menu::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 4px;
  bottom: -210%;
  left: 1%;
  background-color: #333;
  border-radius: 20px;
}

.menu::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 4px;
  top: -210%;
  left: 1%;
  background-color: #333;
  border-radius: 20px;
}

.is-open {
  width: 10%;
}
