*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    margin: 0px;
    background-color: aliceblue;
}
html, body {
    height: 100%;
}

.donut {
    background: #fff;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 10px solid #FF6188;
    border-top: 10px solid #A9DC62;
    border-left: 10px solid #78DCDC;
    border-right: 10px solid #FFD862;
}

tr {
    padding: 1em;
}

th, td {
    padding: .5em;
}